:root {
    /*variável que pode ser utilizada em qualquer parte do css*/
    --title-color: #322153;
    --primary-color: #34cb79;
    --secondary-color: #f0f0f5;
}

*{
    /* variável global, que vale pra todo o css*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: var(--secondary-color);
    -webkit-font-smoothing: antialiased;
}

a {
    /*retira a linha de baixo dos links*/
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, Sans-serif;
    color: var(--title-color);
}
/* box model 

Modelo de caixa
Toda caixa tem:
Largura,altura, espaçamentos, preenchimentos
bordas, cor, fundo, maneira que é vista pelo html (displaY)
alinhamentos
*/
